<% content_for :title, "Experience" %>
<main class="onboarding-screen onboarding-screen--experience" data-controller="onboarding-transition">
  <%= render Onboarding::ProgressBarComponent.new(step: :experience) %>

  <div class="onboarding-screen__content">
    <p class="onboarding-screen__eyebrow">This includes coding experience, hardware projects, uhhhh</p>
    <h1 class="onboarding-screen__title">Do u have experience making technical projects?</h1>

    <%= form_with url: onboarding_experience_path, method: :post, local: true,
                   class: "onboarding-experience__form" do %>
      <div class="onboarding-experience__cards">
        <%= render Onboarding::ChoiceCardComponent.new(name: "level", value: "none", variant: :stacked) do %>
          I have no coding experience. (It's okay, we'll be here to help!)
        <% end %>
        <%= render Onboarding::ChoiceCardComponent.new(name: "level", value: "little", variant: :stacked) do %>
          I know a little bit maybe/ learnt some in school but never made anything.
        <% end %>
        <%= render Onboarding::ChoiceCardComponent.new(name: "level", value: "some", variant: :stacked) do %>
          I've made a project or two before :)
        <% end %>
        <%= render Onboarding::ChoiceCardComponent.new(name: "level", value: "experienced", variant: :stacked) do %>
          I make technical projects all the time!
        <% end %>
      </div>
    <% end %>
  </div>
</main>
